<div class="container text-center mt-4">
  <h1 class="mb-4">Cuadros en Exposición</h1>

  <div class="d-flex justify-content-center mb-4">
    <form [formGroup]="search" role="search" class="w-70">
      <input
        type="search"
        class="form-control"
        placeholder="Buscar cuadros..."
        formControlName="searchCuadros"
        name="searchCuadros"
      />
    </form>
  </div>

  @if (posts.length > 0) {
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (posts of posts | filterCuadroPipe:serchValue; track $index) {

      <div class="col">
        <app-cuadro [recipe]="posts"></app-cuadro>
      </div>

      }
    </div>
  </div>
  } @else {
  <h2 class="text-danger mt-4">No se han encontrado cuadros</h2>
  }
</div>
