<div class="containerform">
  <div class="container mt-5">
    <!-- Formulario de Registro dentro de una Card -->
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Formulario de Registro</h2>
        
        <form [formGroup]="formulario" (ngSubmit)="crearCliente()">
          <!-- Campo de Correo Electrónico -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Introduce tu correo electrónico"
            />
            <!-- Mensaje de error de correo -->
            @if (formdata['email'].touched && formdata['email'].invalid) {
              <div class="alert alert-danger mt-2">
                El correo electrónico es requerido y debe ser válido.
              </div>
            }
          </div>

          <!-- Campo de Contraseña -->
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Introduce tu contraseña"
            />
            <!-- Mensaje de error de contraseña -->
            @if (formdata['password'].touched && formdata['password'].invalid) {
              <div class="alert alert-danger mt-2">
                La contraseña es requerida.
              </div>
            }
          </div>

          <!-- Botón de Enviar -->
          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!formulario.valid"
            >
              Registrarse
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
