<form [formGroup]="formulario" (ngSubmit)="crearCuadro()">
  <div>
    <label for="nombreCuadro">Nombre del Cuadro:</label>
    <input id="nombreCuadro" formControlName="nombreCuadro" />
  </div>

  <div>
    <label for="precio">Precio:</label>
    <input id="precio" formControlName="precio" type="number" step="0.1" />
  </div>

  <div>
    <label for="largo">Largo (m):</label>
    <input id="largo" formControlName="largo" type="number" step="0.1" />
  </div>

  <div>
    <label for="alto">Alto (m):</label>
    <input id="alto" formControlName="alto" type="number" step="0.1" />
  </div>

  <div>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="description"></textarea>
  </div>

  <div>
    <label for="imagen">URL de la Imagen:</label>
    <input id="imagen" formControlName="imagen" type="url" />
  </div>

  <button type="submit">Crear Cuadro</button>
</form>
